 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Building</h2>
      <i class="fa fa-wrench" aria-hidden="true"></i>
      <p>I have 14 years of experience writing software and was a senior software engineer before switching to offensive security. I've worked with a wide range of technologies, from C to JavaScript. I'm certified in secure software programming with a GSSP-.NET.</p>
    </div>
    <div class="tech">
      <h2>Breaking</h2>
      <i class="fa fa-chain-broken" aria-hidden="true"></i>
      <p>I currently work as a penetration tester and red teamer auditing products, internal software, and infrastructure. I've recently earned my OSCP and OSWE certifications.</p>
    </div>
</div>
